/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/

.tetris-block {
    padding: 20px;
    border-width: 20px;
    border-style: ridge;
    display: inline-block;
}

.red {
    background-color: rgb(59, 59, 143);
    border-color: blue;
}
.tetris-block2 {
    padding: 20px;
    border-width: 20px;
    border-style: ridge;
}

.red2 {
    background-color: rgb(201, 148, 177);
    border-color: rgb(111, 111, 195);
}

.red3 {
    background-color: rgb(128, 48, 48);
    border-color: rgb(137, 111, 107);
}

.tetris-block2 {
    padding: 20px;
    border-width: 20px;
    border-style: ridge;
}

.red4 {
    background-color: rgb(61, 58, 40);
    border-color: rgb(210, 191, 97);
}
.tetris-block2 {
    padding: 20px;
    border-width: 20px;
    border-style: ridge;
}
.red5 {
    background-color: rgb(180, 70, 100);
    border-color: rgb(11, 189, 65);
}
.red6 {
    background-color: rgb(180, 70, 100);
    border-color: rgb(11, 189, 65);
}
.red7 {
    background-color: rgb(61, 58, 40);
    border-color: rgb(210, 191, 97);
}
.red8 {
    background-color: blanchedalmond;
    border-color: black;
}
.red9 {
    background-color: rgb(201, 148, 177);
    border-color: rgb(111, 111, 195);
}

.red10 {
    background-color: rgb(59, 59, 143);
    border-color: blue;
}
.red11 {
    background-color: rgb(59, 59, 143);
    border-color: blue;
}
.red12 {
    background-color: rgb(173, 180, 138);
    border-color: rgb(40, 76, 14);
}
.red13 {
    background-color: rgb(180, 70, 100);
    border-color: rgb(11, 189, 65);
}
.red14 {
    background-color: rgb(0, 0, 0);
    border-color: rgb(182, 192, 153);
}
.red15 {
    background-color: rgb(96, 71, 71);
    border-color: rgb(210, 114, 114);
}