* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Arial;
    background-color: hsl(28, 80%, 90%);
}

#navbar-top a{
    text-decoration: none;
    color: black;
    align-items: center;
}

#navbar {
    background: linear-gradient(to bottom, #934008, #e0c297);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar img {
    width: 200px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar .cta-button {
    background-color: white;
    color: rgb(146, 88, 52);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
}

#navbar-bottom a {
    color: black;
    text-decoration: none;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar-bottom {
    background: linear-gradient(to bottom, #ffffff, #b3600d );
    display: flex;
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar3 {
    background: linear-gradient(to bottom, #934008, #e0c297);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}