/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    width: 200px;
    background-color: yellow;
    display: inline-block;
    height: 200px;
    margin: 24px;
    padding: 24px;
}

#post-it1 {
    background-color: lightblue;
}

#notes {
    font-style: italic;
    text-align: center;
     }



