* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom,
        #a46d51,
        #ecc9b7
    );
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: Bold;
    font-size: 36px;
}

#navbar a:hover {
    background: linear-gradient(
        to top,
        #b18e7d,
        #ecc9b7
    );
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #e5b8a2;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: rgb(133, 116, 116);
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}
body {
    font-family: sans-serif;
    background-image: url(../images/dog\ pattern.webp);
    background-size: cover;
    background-position: center center;
} 

.hero {
    background-image: url(../images/bruce-warrington-WSAOGHKEqFc-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    /* position: relative; */
}

.hero1 {
    background-image: url(../images/ausiedoodle.webp);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    /* position: relative; */
}

.heroniro {
    background-image: url(../images/huskies.jpg);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    /* position: relative; */
}

.herostechie {
    background-image: url(../images/goldenretriever.webp);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    /* position: relative; */
}

#layout {
    background-color: #e5b8a2;
    border-radius: 60px;
    padding: 75px 8px;
    max-width: 600px;
    margin: 48px auto;
    text-align: center;
}

/* Media-query */
@media screen and (max-width: 650px) {
    /* body {
        background: bisque;
    } */

    #navbar {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #navbar #logo {
        margin-right: 0;
    }

    #layout {
        padding: 16px;
        margin: 16px;
    }
    .single-column-layout {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    }
}
